.menu-bar {
    -fx-background-color: #a35d00;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #a35d00;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

#leftPane {
    -fx-background-color: #a35d00;
    -fx-padding: 20;
    -fx-alignment: center;
}


#rightPane {
    -fx-background-color: #76ff03;
    -fx-padding: 15;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-radius: 3;
    -fx-padding: 4;
}

.table-view {
    -fx-font-size: 13px;
}

.table-column {
    -fx-alignment: CENTER-LEFT;
}
